html,
body,
#root{
  height:  100%;

}
.App{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100%;
}
.App .header{
  background-color: black;
  color: green;
}
.App .sef{
  max-width: 100%;
  width: 100%;
  text-align: center;
}
.App .btn{
  height: 50px;
  width: 160px;
  margin-left: 30px;
  margin-top: 70px;
  background-color: #199E43;
  color: black;

}
.App .btn:hover{
  background-color: #C5F4D5;
  color: black;
}
.slide-wrapper{
  border: 0.2px solid black;
  margin-top: 60px;
  height: 290px;
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 490px;
  border-radius: 1opz;
  box-shadow: 5px 10px #888888;
}

